  .main-section {
    margin: 0 auto;
    margin-top: 80px;
    padding: 0;
  }
  
  .modal-content {
    padding: 0 18px;
    border-radius: 15px;
    display: block;
  }
  
  .form-group {
    margin-bottom: 25px;
    z-index: 90;
  }
  
  .form-group input {
    height: 42px;
    border-radius: 5px;
    font-size: 18px;
  }
  
  .form-group select {
    height: 42px;
    border-radius: 5px;
    font-size: 18px;
  }

  